<legend>Add Book</legend>
<form id="bookForm" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input type="text" formControlName="title" class="form-control" id="title" name="title">
        <!-- <span *ngIf="(title.dirty || title.touched) && title.invalid && title.errors.required">Title is required.</span>
        <span *ngIf="title.errors.minlength">
            Title must be at least 10 characters long.
        </span> -->
    </div>

    <div class="form-group">
        <label for="category" class="control-label">Category</label>
        <select formControlName="category" class="form-control">
            <option *ngFor="let category of categories" [ngValue]="category">
              {{ category }}
            </option>
          </select>
        <!-- <span *ngIf="(category.dirty || category.touched) && category.invalid && category.errors.required">Category is required.</span> -->
    </div>

    <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea type="text" formControlName="description" class="form-control" id="description" name="description"></textarea>
        <!-- <span *ngIf="(description.dirty || description.touched) && description.invalid && description.errors.required">Description is required.</span> -->
    </div>


    <div class="form-group has-error">
        <!-- <button type="submit" class="btn btn-primary">Add</button> -->
        <button type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">Add</button>
    </div>
</form>

<legend>Book list ({{books.length}})</legend>
<div *ngIf="books.length > 0">
    <div class="form-group" *ngFor="let book of books">
        <div class="row">
            <label class="col-xs-6 col-form-label">Title: {{book.title}}</label>
            <div class="col-xs-3">({{book.category}})</div>
        </div>
        <div class="row">
            <label class="col-xs-6 col-form-label">Description:</label>
            <div class="col-xs-6">{{book.description}}</div>
        </div>
    </div>
</div>

<app-dialog [visible]="showModal" (visibleChange)="handleVisibleChange($emit)">
    <h3>Notification</h3>
    <p>Created data success!</p>
</app-dialog>