<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="email" class="control-label">Email</label>
    <input type="text" formControlName="email" class="form-control" id="email" name="email">
    <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
    Email is required.
    </span>
    <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.invalidEmail">
      Value has to be a valid email address.
    </span>

    <br>
    <label for="email" class="control-label">Mobile</label>
    <input type="text" formControlName="mobile" class="form-control" id="mobile" name="mobile">
    <span *ngIf="(mobile.dirty || mobile.touched) && mobile.invalid && mobile.errors.required">
    Mobile is required.
    </span>
    <span *ngIf="(mobile.dirty || mobile.touched) && mobile.invalid && mobile.errors.invalidNumber">
    Value has to be a number.
    </span>

    <br />
    <label for="email" class="control-label">Country</label>
    <select formControlName="country" class="form-control">
      <option *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>
    <br />

    <button type="submit" [disabled]="!contactForm.valid">Save</button>
    <button type="reset" (click)="revert()">Revert</button>
</form>